@import "tailwindcss";

/* responsive */
@media screen and (max-width: 668px) {
  nav {
    flex-direction: column;
  }
  .navbar-1st {
    gap: 90px;
  }
  .navbar-2nd {
    width: 314px;
    margin-top: 20px;
    gap: 10px;
  }

  /* hero */
  .hero p {
    text-align: center;
  }

  /* main */
  .main {
    flex-direction: column;
  }

  .card-section {
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 100%;
  }

  .history-section {
    margin-top: 30px;
    width: 100% !important;
    height: 80vh;
  }
}
